<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post  </title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<h1><%=foundPost.title%></h1>
<p><%=foundPost.content%></p>
</body>
</html>
